<div class="row" *ngFor="let voiture of voitures">
  <app-voiture [model]="voiture.model" [marque]="voiture.marque"></app-voiture>
</div>
<div class="row">
  <div class="row">
    <div class="col-6">
      <input type="text" name="model" id="model" [(ngModel)]="formModel" />
    </div>
    <div class="col-6">
      <input type="text" name="marque" id="marque" [(ngModel)]="formMarque" />
    </div>
  </div>
  <input
    type="button"
    value="Ajouter une Voiture"
    class="btn btn-primary w-100"
    (click)="addCar()"
  />
</div>
